@using ChiaWorks.PlotTracking.Controllers.Api
@model UserDevice


<tr>
    <th scope="row">@Model.Id</th>
    @if (User.IsInRole(WarmUpsController.AdminRoleName))
    {
        <td>@Model.IpAddress</td>
    }
    else
    {
        <td>@($"***.{Model.IpAddress.Remove(Model.IpAddress.LastIndexOf(".", StringComparison.Ordinal))}") </td>
    }
    <td>@Model.CreatedOn</td>
</tr>