@using ChiaWorks.PlotTracking.Services
@model UserDevice


<tr>
    <th scope="row">@Model.Id</th>
    <td>@Model.GetIpAddress(User.IsInRole(UserService.AdminRoleName))</td>
    <td>@Model.CreatedOn</td>
</tr>