@{
    ViewData["Title"] = "Device List";
}
@using ChiaWorks.PlotTracking.Controllers.Api
@model List<UserDevice>

@{
    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        @if (User.IsInRole(WarmUpsController.AdminRoleName))
        {
            <th scope="col">Address</th>
        }
        <th scope="col">Created On</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_Item", item)
    }
    </tbody>
</table>