@using ChiaWorks.PlotTracking.Services
@model PlotInfo


<tr>
    <th scope="row">@Model.Id</th>
    <td>@Model.Name</td>
    @if (User.IsInRole(UserService.AdminRoleName))
    {
        <td>@Model.IpAddress</td>
    }
    <td>@Model.CreatedOn</td>
</tr>